.Header{
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  background-color: #fff;
}
.HeaderBody{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HeaderBody h1{
  font-style: italic;
}
.HeaderRight{
  display: flex;
}
.HeaderUserBlock{
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transition: background-color .2s linear;
}
.HeaderUserBlock:hover{
  background-color: #ccc;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  padding: 10px 18px;
}

.login{
  text-decoration: none;
  color: #000;
  padding: 10px 0 10px 20px;
  cursor: pointer;
  font-weight: 700;
}

/* -------------------------------------- */

@media (max-width:599px){
  .HeaderBody h1{
    font-size: 25px;
  }
  .HeaderUserBlock{
    padding: 10px 10px;
  }
  .HeaderUserBlock:hover{
    padding: 10px 8px;
  }
  .login{
    padding: 10px 0 10px 10px;
  }
  .HeaderBody{
    width: 90%;
  }
}
@media (max-width:399px){
  .HeaderBody h1{
    font-size: 23px;
  }
  .HeaderUserBlock{
    padding: 8px 8px;
    font-size: 14px;
  }
  .HeaderUserBlock:hover{
    padding: 8px 6px;
  }
  .login{
    padding: 8px 0 8px 8px;
    font-size: 14px;
  }
}