.Navbar{
    width: 20%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 100%;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.navbarBody{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    height: 0;
    padding: 20px 0;
}
.navbarBody a{
    width: 100%;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
}
.navbarBody a:hover{
    background-color: #ccc;
}
.active{
    background-color: #ccc;
}
/* -------------------------- */

@media (max-width:599px){
    .Navbar{
        width: 100%;
        height: 40px;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid #ccc;
        justify-content: flex-end;
    }
    .navbarBody{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 0 20px;
    }
    .navbarBody a{
        padding: 6px 8px;
    }
  }
@media (max-width:399px){
    .Navbar{
        height: 30px;
    }
    .navbarBody a{
        padding: 4px 6px;
        font-size: 14px;
    }
  }
