.loginForm{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.loginTitle{
  width: 50%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.loginTitle *{
  margin-bottom: 20px;
}
.loginForm form{
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.formField{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.formField:last-child{
  margin-bottom: 0;
}
.formField input{
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  outline: none;
  font-size: 16px;
}
.formField input[type=checkbox]{
  width: 13px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}
.formField button{
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: blue;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow .2s linear;
}
.formField button:hover{
  box-shadow: 2px 6px 5px #888888;
}

/* ============= */

.formError{
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 2%;
  font-weight: bold;
  color: rgb(226, 1, 1);
}

.captcha{
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 20%;
  overflow: hidden;
}
.captcha img{
  width: 50%;
}
.captcha input{
  width: 50%;
  height: 50%;
}

/* ---------------------- */

@media (max-width:899px){
  .loginForm{
    flex-wrap: wrap;
    justify-content: center;
  }
  .loginTitle{
    width: 100%;
    justify-content: center;
    padding: 5px;
  }
  .loginTitle *{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .loginForm form{
    width: 80%;
  }
}
@media (max-width:599px){
  .loginTitle h1{
    font-size: 25px;
  }
  .loginTitle h3{
    font-size: 15px;
  }
  .loginForm form{
    padding: 10px;
    font-size: 14px;
  }
  .formField{
    margin-bottom: 10px;
  }
  .formField input{
    padding: 10px;
    font-size: 14px;
  }
  .formField button{
    padding: 5px 8px;
    font-size: 14px;
  }
  .formField button:hover{
    box-shadow: 2px 4px 3px #888888;
  }
  .captcha{
    bottom: 15%;
  }
  .formError{
    bottom: 5%;
  }
}
@media (max-width:499px){
  .captcha{
    width: 200px;
    height: 40px;
  }
}
@media (max-width:399px){
  .loginForm form{
    font-size: 13px;
  }
  .formField input{
    font-size: 13px;
  }
  .formField button{
    font-size: 13px;
  }
  .captcha{
    width: 150px;
    height: 40px;
  }
}
@media (max-width:330px){
  .loginForm form{
    font-size: 12px;
  }
  .formField input{
    font-size: 12px;
  }
  .formField button{
    font-size: 12px;
  }
  .captcha{
    flex-wrap: wrap;
    justify-content: center;
    bottom: 13%;
    height: 50px;
  }
  .captcha img{
    width: 60%;
    height: 30px;
  }
  .captcha input{
    width: 60%;
    height: 20px;
  }
}