.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background-color: #ddd;
}
.Content{
  width: 78%;
  display: flex;
  justify-content: center;
}
.container{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 0;
}

/* ------------------- */

@media (max-width:999px){
  .container{
    width: 100%;
    padding: 10px 0 0;
  }
}
@media (max-width:599px){
  .Content{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container{
    padding: 5px;
  }
}